ingress:
  host: buildmystudy.com
  pathType: Prefix

spring:
  labels: gateway
  image:
    repository: 440744253928.dkr.ecr.ap-northeast-2.amazonaws.com/taxi/gateway
    tag: latest
  service:
    port: 8080
    gateway:
      port: 8080
  datasource:
    url: ""
    username: ""
    password: ""
  cors:
    origin: "http://localhost:3000"

  zipkin:
    endpoint: "http://zipkin:9411/api/v2/spans"
  eureka:
    url: "http://discovery-service:8761/eureka"

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 60
  targetMemoryUtilizationPercentage : 75

  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 75

  behavior:
    scaleUp:
      stabilizationWindowSeconds: 0
      policies:
        - type: Percent
          value: 100
          periodSeconds: 60
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
        - type: Percent
          value: 10
          periodSeconds: 60
        - type: Pods
          value: 1
          periodSeconds: 60
